<%  if current_user.has_role? :admin %>
<%= javascript_pack_tag 'tenant' %>
 <div class="main">
  <center>
<table>
            <tr>
              <td>Owner Name :-</td>
              <td id="owner_name">
              </td>
            </tr>
            <tr>
              <td>contact no :-</td>
              <td id="contact_no"></td>
            </tr>
          </table>
        </center>
	<div class="login-form">
		<%= form_with model:@tenant,local:true do |f| %>
    <div class="form-group">
      <%= select_tag(:owner_block, options_from_collection_for_select(Member.select(:block).distinct, :block, :block), include_blank: "Select Block") %>
    </div>

<div class="form-group">
    <%= select_tag(:owner_house_no, options_from_collection_for_select(Member.select(:house_no).distinct, :house_no,:house_no), include_blank: "Select House No") %>
  </div>
			<div class="form-group">
			    <%= f.label :tenant_name %><br />
			    <%= f.text_field :tenant_name, autofocus: true,class: "form-control" %>
  			</div>

  			<div class="form-group">
			    <%= f.label :contact_no %><br />
			    <%= f.telephone_field :contact_no, autofocus: true,class: "form-control" %>
  			</div>
  			<div class="form-group">
    			<%= f.submit "Submit" , class:"btn btn-primary btn-block"%>
  			</div>


		<%end%>
	</div>
</div>
<%end%>