<div class="main">
	<div class="row">
    <div class="col-lg-6 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3><%= @maintanence_of_current_month_amount%></h3>
          <div class="d-flex">
            <p> Current Month Maintenance Amount</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-6">
      <!-- small box -->
      <div class="small-box bg-success ">
        <div class="inner">

          <h3>Tenant</h3>
          <a href="#tenant"  class="btn btn-primary text-red ml-auto" data-toggle="modal">View</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3><%= @maintenance_amount%></h3>

          <div class="d-flex">
            <p>Current Maintenance  </p>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-6 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3><%= @current_month_maintenance_status %></h3>

          <p> Current Month Maintenance Status</p>
        </div>

      </div>
    </div>
  </div>

<div class="row">
  <div class="col-lg-6 col-6">
    <!-- small box -->
    <div class="small-box bg-dark ">
      <div class="inner">

        <h3 class="text-light">Have Any Problem?</h3>
        <a href="#complain"  class="btn btn-primary text-red ml-auto" data-toggle="modal">Complain</a>
        <a href="#pendding_complain"  class="btn btn-primary text-red ml-auto" data-toggle="modal">Pendding Complain</a>
        <a href="#all_complain"  class="btn btn-primary text-red ml-auto" data-toggle="modal">All Complain</a>
      </div>
    </div>
  </div>



  <div class="col-lg-6 col-6">
    <!-- small box -->
    <div class="small-box bg-dark ">
      <div class="inner">

        <h3 class="text-light">Visitors</h3>
        <a href="#visitor"  class="btn btn-primary text-red ml-auto" data-toggle="modal">View</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
 <div class="col-lg-6 col-6">
    <!-- small box -->
    <div class="small-box bg-success ">
      <div class="inner">

        <h3 class="text-light">Vehicles</h3>
        <a href="#vehicle"  class="btn btn-primary text-red ml-auto" data-toggle="modal">View</a>
      </div>
    </div>
  </div>
</div>






</div>



<div id="tenant" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tenant</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <table>
          <tr

          <td>Name</td>
          <td><%= @user.tenants.first.tenant_name%></td>
        </tr>
        <tr>
          <td>Contact No</td>
          <td><%= @user.tenants.first.contact_no %></td>
        </tr>
      </table>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>


<div id="complain" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Complain</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%=render 'complain' %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>



<div id="pendding_complain" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pendding Complains</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Subject</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
            <tbody>
              <% @pendding_complain.each do |pendding_complain| %>
              <tr>
                <td><%= pendding_complain.subject %></td>
                <td><%= pendding_complain.description %></td>
                <td><%= pendding_complain.status %></td>
              </tr>
              <%end%>
            </tbody>
          </thead>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>


<div id="vehicle" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vehicles</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Vehical No</th>
              <th>Description</th>
              <th>Parking Slot</th>
            </tr>
            <tbody>
              <% @vehicles.each do |vehicle| %>
              <tr>
                <td><%= vehicle.vehical_no %></td>
                <td><%= vehicle.description %></td>
                <td><%= vehicle.parking_slot.slot %></td>
              </tr>
              <%end%>
            </tbody>
          </thead>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>







<div id="all_complain" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> All Complains</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Subject</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
              <% @all_complain.each do |complain| %>
              <tr>
                <td><%= complain.subject %></td>
                <td><%= complain.description %></td>
                <td><%= complain.status %></td>
              </tr>
              <%end%>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>


<div id="visitor" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pendding Complains</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Contact No</th>
              <th>Description</th>
              <th>Time</th>
            </tr>
            <tbody>
              <% @visitors.each do |visitor| %>
              <tr>
                <td><%= visitor.name %></td>
                <td><%= visitor.contact_no %></td>
                <td><%= visitor.description %></td>
                <td><%= visitor.created_at %></td>
                
              </tr>
              <%end%>
            </tbody>
          </thead>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

